/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$block-vmargin: 30px;
$gray: #ccc;

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  padding: 15px 20px;
  background: #f9f9fa;
  color: #2d3238;
}

header {
  margin-bottom: 30px;
}

footer {
  margin-top: 50px;
}

.main-title {
  font-size: 35px;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $gray;
  }
}

.stats {
  margin-top: -10px;
}

h2 {
  font-weight: normal;
}

.filter-form {
  margin: $block-vmargin 0;

  label {
    font-weight: 600;
  }
}

.filter-form-email {
  margin: 0 10px;
  padding: 3px 5px;
  width: 20em;
}

.events-table {
  min-width: 700px;
  margin: $block-vmargin 0;
  border-collapse: collapse;

  tr.main-data td {
    border-top: 1px solid $gray;
    padding-top: 22px;
  }

  tr.extra-data td {
    padding-bottom: 15px;
  }

  td.email {
    font-weight: bold;
  }
}
