/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$block-vmargin: 30px;
$gray: #ccc;
$black: #000;

body {
  margin: 0px;
}

.content {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  padding: 15px 20px;
  background: #f9f9fa;
  color: #2d3238;

  header {
    margin-bottom: 30px;
  }

  footer {
    margin-top: 50px;
  }

  .main-title {
    font-size: 35px;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $gray;
    }
  }

  .stats {
    margin-top: -10px;
    .stat {
      margin: 5px 0;
    }
  }

  h2 {
    font-weight: normal;
  }

  b, strong, label {
    font-weight: 600;
  }

  .filter-form {
    margin: $block-vmargin 0;
  }

  .filter-form-email {
    margin: 0 10px;
    padding: 3px 5px;
    width: 20em;
  }

  .pagination {
    a, span, em {
      padding: 5px 5px;
    }

    em {
      font-style: normal;
    }

    .disabled, .current {
      color: #888;
    }
  }

  .events-table {
    width: 900px;
    margin: $block-vmargin 0;
    border-collapse: collapse;

    tr.main-data td {
      border-top: 1px solid $gray;
      padding-top: 22px;
    }

    tr.extra-data {
      td {
        vertical-align: top;
        padding: 15px 0;
      }
      td.identifier-image {
        padding-right: 10px;
      }
      td.event-image {
        padding-left: 10px;
        text-align: right;
      }
      h4 {
        margin-bottom: 5px;
      }
      p {
        margin: 5px 0;
        // Make sure we force line breaks to lines that are too long.
        // Why use word-break:break-all See: http://stackoverflow.com/a/19282567
        word-break: break-all;
        &:first-child { margin-top: 0; }
      }
    }

    td.email {
      font-weight: bold;
    }

    td.event {
      white-space: nowrap;
      text-align: right;
    }
  }

  .tooltip {
    display: inline;
    position: relative;

    &:hover:before {
      bottom: 26px;
      color: $black;
      content: attr(data-tooltip);
      padding: 5px 15px;
      position: absolute;
      width: 200px;
      white-space: normal;
      text-align: left;
      font-weight: bold;
    }
  }

  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: lighten($black, 25%);
  }

  .no-more-events {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
